以太网测试相关文档 | Alex_McAvoy

https://alex-mcavoy.github.io/notes/network-testing/e9f88fa2.html 

 【相关文档】以太网是数据链路层的技术，因此以太网测试又被称为二层测试 相关的 RFC 文档包括 RFC1242、RFC2544、RFC2285、RFC2889