网络四到七层测试相关文档 | Alex_McAvoy

https://alex-mcavoy.github.io/notes/network-testing/a0e1f88b.html 

 【概述】四到七层测试中，相关的 RFC 文档包括：RFC1242、RFC2544、RFC2647、RFC3511 等 RFC1242 与 RFC2544 具有一般性的指导意义，涵盖了 OSI 全部七层的测试